<%- include('./partials/header') %>

<div id="about">
    <p>
        Hi there! If you're like me, you can't walk past a bookstore without stopping in and having a look around. It doesn't matter where you are or what you're doing; if there's a bookstore in sight, you've got to go.
    </p>
    <p>
        But what if there <em>isn't</em> a bookstore in sight? What if you're traveling and want to find the best bookstores wherever you are? Or what if you're new in town and need to find your new favorite bookstore?
    </p>
    <p>
        Enter <strong>Bookworms United</strong>. Think of it like Goodreads but for bookstores. You'll be able to find information about bookstores near you: what are their names, what genres are they known for, and - most importantly, where are they? You'll also be able to read reviews of bookstores written by your fellow bookworms.
    </p>
    <p>
        Anyone can <a href="/bookstores">look around</a>. Members can write reviews and even add bookstores to the collection.
    </p>
</div>



<%- include('./partials/footer') %>