<%- include('./partials/header') %>

<!--Inform the user that their message was not sent successfully and offer them navigation elsewhere-->
<p class="email-result">Sorry, your message was not sent. Return <a href="/">home</a> or <a href="/contact">try again</a>.</p>

<%- include('./partials/footer') %>