<%- include('./partials/header') %>

<div id="greeting">
   <p>Welcome to <strong>Bookstores United</strong>! Learn more about us <a href="/about">here</a>.</p>
   <p><a href="/bookstores">Browse</a> bookstores near you or <a href="/auth/google">log in</a>.</p>
</div>

<%- include('./partials/footer') %>