<%- include('./partials/header') %>

<div id="homepage">
    <h1>Do you love books? We do too! Glad you could join us! Learn more about us <a href="/about">here</a>.</h1>
</div>

<%- include('./partials/footer') %>