<%- include('./partials/header') %>

<!--Inform the user that their email was sent successfully and let them easily navigate elsewhere-->
<p class="email-result">Your message has been sent! Go back <a href="/">home</a> or check out more <a href="/bookstores">bookstores</a>.</p>

<%- include('./partials/footer') %>