nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 300px;
    color: white;
    font-size: 30px;
}

body {
    background-image: url("../images/blur-book-stack-books-bookshelves-590493.jpg");
    background-size: cover;
}

#greeting {
    margin: 0 auto;
    width: 400px;
    text-align: justify;
    font-size: 35px;
    color: white;
}

a:visited {
    color: white;
}

#add-bookstore {
    background-color: white;
}

#bookstore-display {
    background-color: white;
}

#display-single-bookstore {
    background-color: white;
}