nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: white;
    font-size: 30px;
}

.material-icons.md-36 { 
    font-size: 36px; 
}

body {
    background-image: url("../images/blur-book-stack-books-bookshelves-590493.jpg");
    background-size: cover;
}

#site-name {
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}

#greeting {
    margin: 0 auto;
    width: 400px;
    text-align: justify;
    font-size: 35px;
    color: white;
}

a:visited {
    color: white;
}

#add-bookstore {
    background-color: white;
}

#bookstore-display {
    background-color: white;
}

#display-single-bookstore {
    background-color: white;
}