<%- include('../partials/header') %>

<div id="new-bookstore">
    <h3>Tell Us All About This Bookstore!</h3>
    <form id="add-bookstore-form" action="/bookstores" method="POST">
            <p>
                <label>Name:</label><br />
                <input class="bookstore-info" type="text" name="name">
            </p>
            <p>
                <label>Address:</label><br />
                <input class="bookstore-info" type="text" name="address">
            </p>
            <p>
                <label>Popular Genres:</label><br />
                <select class="bookstore-info" name="genres" multiple="multiple">
                    <option value="Science Fiction">Science Fiction</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Horror">Horror</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Comics/Graphic Novels">Comics/Graphic Novels</option>
                    <option value="Romance">Romance</option>
                    <option value="History">History</option>
                    <option value="Politics/Current Affairs">Politics/Current Affairs</option>
                    <option value="Philosophy">Philosophy</option>
                    <option value="Science">Science</option>
                </select>
            </p>
            <p>
                <label>Website:</label><br />
                <input class="bookstore-info" type="url" name="website">
            </p>
            <p>
                <input type="submit" value="Add Bookstore">
            </p>
    </form>
</div>


<%- include('../partials/footer') %>